.section-wip {
  height: 100vh;
  display: flex;
  text-transform: uppercase;
  position: relative;
  color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__heading {
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.1;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__text {
    font-size: 25px;
    letter-spacing: 2.5px;
    font-weight: 800;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__progress {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__progress-bar {
    background: #6bb6eb;
    background: linear-gradient(
      to right,
      #6bb6eb 0%,
      #6bb6eb 80%,
      rgba(255, 255, 255, 1) 80%
    );
    width: 300px;
    height: 10px;
    margin-top: 30px;
    position: relative;
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
